section{
    background-color: #0038b8;
    color: #fff;
}
p#marquee{
    animation: mrq 5s infinite linear;
}
@keyframes mrq{
    0%{
        left: 100%;
    }
    100%{
        left: 0;
        transform: translateX(-100%);
    }
}