section{
    background-color: #0038b8;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}
span#marquee{
    position: relative;
    animation: mrq 10s infinite linear;
}
@keyframes mrq{
    0%{
        left: 100%;
        transform: translateX(0);
    }
    100%{
        left: 0;
        transform: translateX(-100%);
    }
}