section{
    background-color: #0038b8;
    color: #fff;
}
span#marquee{
    animation: mrq 5s infinite linear;
    white-space: nowrap;
}
@keyframes mrq{
    0%{
        left: 100%;
    }
    100%{
        left: 0;
        transform: translateX(-100%);
    }
}